<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSMS.Host.FileServerConnectionManager.Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PSMS.Host.FileServerConnectionManager.Config.Properties.Settings>
            <setting name="Get_Host_Dialog_Description" serializeAs="String">
                <value>Where is the Hostplus directory?   Note: This directory must be on a local drive that contain a file named SYEUMREQ.DBF</value>
            </setting>
            <setting name="Invalid_Directory" serializeAs="String">
                <value>This directory does not contain a file named {0}.  Please select another directory.</value>
            </setting>
            <setting name="MessageBox_Title" serializeAs="String">
                <value>sms|Host FileServerConnectionManager installation</value>
            </setting>
            <setting name="Invalid_Drive" serializeAs="String">
                <value>Invalid disk specification.</value>
            </setting>
            <setting name="Wrong_DriveType" serializeAs="String">
                <value>The directory must be on a {0} disk drive.</value>
            </setting>
            <setting name="InvalidConnectionString" serializeAs="String">
                <value>ConnectionString is not a valid connection string.</value>
            </setting>
            <setting name="ConnectionStringCannotBeEmpty" serializeAs="String">
                <value>ConnectionString cannot be empty</value>
            </setting>
            <setting name="ConnectionStringMissingRequiredProperty" serializeAs="String">
                <value>ConnectionString is missing a required property - {0}</value>
            </setting>
        </PSMS.Host.FileServerConnectionManager.Config.Properties.Settings>
    </userSettings>
</configuration>